#index {
  min-height: 100%;
  width: 100%; }

#about, #learn, #login, #register, #profile, #ranking, #hits-list, #hits-detail, #learn-catalina {
  min-height: 100%;
  padding-top: 70px;
  width: 100%; }

html {
  position: relative;
  height: 100%;
  width: 100%; }

body {
  background: url("/static/img/background/stars_bg.gif");
  background-color: #0a0a0a;
  color: white;
  height: 100%;
  width: 100%;
  margin-bottom: 60px; }
  body > .container {
    padding: 10px 15px 60px 15px; }
  body a {
    color: white; }
    body a:hover, body a:focus {
      color: #ffde00;
      text-decoration: none; }

.navbar-starlight {
  border-radius: 0;
  background-color: #0a0a0a; }

.navbar-transparent {
  background-color: transparent; }

#nav-level-badge {
  margin-top: 7px; }

#nav-progress-points {
  margin-top: 12px;
  width: 150px; }
  #nav-progress-points span {
    float: left;
    margin: -4px 0 0 10px; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 20%;
  background-color: #171717; }
  .footer > .container {
    padding: 15px 15px 25px 15px; }
  .footer-nav {
    width: 50%;
    color: #666666; }
  .footer-nav-category {
    margin-bottom: 0;
    text-decoration: underline; }

#sidebar-menu .sidebar-menu-header {
  margin-top: 20px; }
  #sidebar-menu .sidebar-menu-header-text {
    color: #999999; }
#sidebar-menu .sidebar-menu-item {
  padding-left: 15px; }
#sidebar-menu .sidebar-menu-break {
  margin: 0 0 10px 0;
  background-color: #999999; }

#header {
  background-image: url("/static/img/background/hubble5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: inherit;
  min-height: 100%;
  padding: 60px 0;
  width: 100%; }
  #header .jumbotron {
    background-color: rgba(0, 0, 0, 0.4); }
    #header .jumbotron .get-started {
      width: 200px; }

.shaded {
  background-image: url("/static/img/background/hubble2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

section {
  min-height: 400px;
  padding: 15px 0; }

#login {
  background-image: url("/static/img/background/hubble3.jpg");
  background-image: no-repeat;
  background-position: center;
  background-size: 100%; }
  #login .form-signin {
    max-width: 450px;
    padding: 15px; }
    #login .form-signin .form-group {
      margin-bottom: 0; }
    #login .form-signin .form-control {
      position: relative;
      height: auto;
      padding: 10px;
      font-size: 16px;
      margin: 10px 0; }
      #login .form-signin .form-control:focus {
        z-index: 2; }
    #login .form-signin button[type="submit"] {
      margin-top: 30px; }
  #login .auth-card {
    width: 40%;
    min-height: 90%;
    padding: 15px;
    background-color: rgba(10, 10, 10, 0.7); }

#register {
  background-image: url("/static/img/background/hubble1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }
  #register .form-signup {
    max-width: 450px;
    padding: 15px; }
    #register .form-signup .form-group {
      margin-bottom: 0; }
    #register .form-signup .form-control {
      position: relative;
      height: auto;
      padding: 10px;
      font-size: 16px;
      margin: 10px 0; }
      #register .form-signup .form-control:focus {
        z-index: 2; }
    #register .form-signup button[type="submit"] {
      margin-top: 30px; }
  #register .auth-card {
    width: 40%;
    min-height: 90%;
    padding: 15px;
    background-color: rgba(10, 10, 10, 0.7); }

#profile-pic, #profile-desc {
  min-height: 260px; }

#profile-desc #username {
  margin-bottom: 10px; }
#profile-desc .level-badge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; }
#profile-desc #progress-points {
  margin-top: 10px; }

#progress-hits h4 {
  line-height: 1.5;
  padding-top: 15px; }

#edit-profile-menu .edit-profile-item {
  padding-left: 15px; }
#edit-profile-menu .edit-profile-header {
  margin-top: 20px; }
  #edit-profile-menu .edit-profile-header-text {
    color: #999999; }
#edit-profile-menu .edit-profile-break {
  margin: 0 0 10px 0;
  background-color: #999999; }

#hits-profile .hits-profile-item {
  margin: 4px 0; }
#hits-profile .hits-profile-data {
  color: #ffde00; }

#vote-card {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 160px; }

#point {
  position: relative;
  color: #7b08bc;
  text-shadow: 2px 2px 4px; }

#start-label #start {
  margin: 25px 0;
  padding: 20px 0; }

.btn-starlight {
  color: white;
  background-color: #7b08bc;
  border-color: #7b08bc; }
  .btn-starlight:hover, .btn-starlight:focus {
    color: white;
    text-decoration: none; }

#save {
  width: 100%; }

.card-starlight {
  background-color: #242424;
  border: none;
  padding: 5px 15px; }
  .card-starlight-clear {
    background-color: rgba(10, 10, 10, 0.7);
    border: none; }

.pagination.pagination-starlight {
  background-color: transparent; }
  .pagination.pagination-starlight .page-item .page-link {
    background-color: transparent;
    border-color: #7b08bc;
    color: white; }
    .pagination.pagination-starlight .page-item .page-link:hover, .pagination.pagination-starlight .page-item .page-link:focus {
      background-color: #ffde00; }
  .pagination.pagination-starlight .page-item.active .page-link {
    background-color: #7b08bc;
    border-color: #7b08bc; }
  .pagination.pagination-starlight .page-item.disabled .page-link:hover, .pagination.pagination-starlight .page-item.disabled .page-link:focus {
    background-color: transparent; }

.progress-starlight[value] {
  color: #7b08bc !important; }

.table-starlight tbody tr:hover {
  background-color: #7b08bc; }
  .table-starlight tbody tr:hover a {
    color: #ffde00; }

.knob-progress {
  margin-top: 25px;
  margin-bottom: -25px; }

.text-starlight-default {
  color: white; }

.text-starlight-muted {
  color: #999999; }

.text-starlight-purple {
  color: #7b08bc; }

/*# sourceMappingURL=style.css.map */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #666666; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/**
 * Demo styles
 * Not needed for tooltips to work
 */

a:hover {
  text-decoration: none;
}

header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 360px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}