html {
  position: relative;
  height: 100%;
  width: 100%; }

body {
  background: url("/img/background/stars_bg.gif");
  background-color: #0a0a0a;
  color: white;
  height: 100%;
  width: 100%;
  margin-bottom: 60px; }
  body > .container {
    padding: 10px 15px 60px 15px; }
  body a {
    color: white; }
    body a:hover, body a:focus {
      color: #ffde00;
      text-decoration: none; }

#main {
  min-height: 100%;
  padding-top: 90px;
  width: 100%; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 20%;
  background-color: #171717; }
  .footer > .container {
    padding: 15px 15px 25px 15px; }
  .footer-nav {
    width: 50%;
    color: #666666; }

.macho-navbar {
  border-radius: 0;
  background-color: #0a0a0a; }
  .macho-navbar .navbar-brand {
    color: white; }
    .macho-navbar .navbar-brand:hover, .macho-navbar .navbar-brand:focus {
      color: #ffde00; }
  .macho-navbar .nav-item .nav-link {
    color: white; }
    .macho-navbar .nav-item .nav-link:hover, .macho-navbar .nav-item .nav-link:focus {
      color: #ffde00; }

.navbar-transparent {
  background-color: transparent; }

#header {
  background-image: url("/img/background/hubble5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: inherit;
  min-height: 100%;
  padding: 90px 0;
  width: 100%; }
  #header .jumbotron {
    background-color: rgba(0, 0, 0, 0.4); }
    #header .jumbotron .get-started {
      width: 200px; }

.shaded {
  background-image: url("/img/background/hubble2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

section {
  min-height: 400px;
  padding: 15px 0; }

.ranking-header-text {
  display: inline-block;
  line-height: 2.2; }

.ranking-header-time {
  text-transform: capitalize; }

.ranking-badge {
  max-width: 30px; }

.ranking-point-change {
  margin-left: 15px;
  color: #ffde00; }

.login {
  background-image: url("/img/background/hubble3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }
  .login .form-signin {
    max-width: 450px;
    padding: 15px; }
    .login .form-signin-heading {
      margin-bottom: 25px; }
    .login .form-signin .form-control {
      position: relative;
      height: auto;
      padding: 10px;
      font-size: 16px;
      margin: 10px 0; }
      .login .form-signin .form-control:focus {
        z-index: 2; }
  .login .auth-card {
    width: 40%;
    min-height: 90%;
    padding: 15px;
    background-color: rgba(10, 10, 10, 0.7); }

.register {
  background-image: url("/img/background/hubble1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }
  .register .form-signup {
    max-width: 450px;
    padding: 15px; }
    .register .form-signup-heading {
      margin-bottom: 25px; }
    .register .form-signup .form-control {
      position: relative;
      height: auto;
      padding: 10px;
      font-size: 16px;
      margin: 10px 0; }
      .register .form-signup .form-control:focus {
        z-index: 2; }
    .register .form-signup button[type="submit"] {
      margin-top: 30px; }
  .register .auth-card {
    width: 40%;
    min-height: 90%;
    padding: 15px;
    background-color: rgba(10, 10, 10, 0.7); }

#plotly {
  width: 100%;
  height: 400px;
  border: 1px solid black; }

#vote-periodic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 440px; }
  #vote-periodic .vote-item {
    margin: 6px 10px; }
  #vote-periodic .vote-item {
    width: 200px; }

#vote-nonperiodic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 600px; }
  #vote-nonperiodic .vote-item {
    margin: 6px 10px; }
  #vote-nonperiodic .vote-item {
    width: 180px; }

.save {
  color: #ffdf59; }

.dashboard-badge {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 160px; }

.dashboard-progress-label {
  margin-top: 10px; }

.dashboard-next-level-points {
  font-size: 80%;
  color: #0a0a0a; }

.dashboard-classify-btn {
  min-width: 110px;
  margin: 3px; }

.sidebar-menu-card {
  background-color: #0a0a0a;
  border: none;
  padding: 5px 15px; }

#sidebar-menu .sidebar-menu-header {
  margin-top: 20px; }
  #sidebar-menu .sidebar-menu-header-text {
    color: #999999; }

#sidebar-menu .sidebar-menu-item {
  padding-left: 15px; }
  #sidebar-menu .sidebar-menu-item > a {
    color: white; }
  #sidebar-menu .sidebar-menu-item > a:hover, #sidebar-menu .sidebar-menu-item a:focus {
    color: #ffde00;
    text-decoration: none; }

#sidebar-menu .sidebar-menu-break {
  margin: 0 0 10px 0;
  background-color: #999999; }

.btn-macho {
  color: white;
  background-color: #7b08bc;
  border-color: #7b08bc; }
  .btn-macho:hover, .btn-macho:focus {
    color: white;
    text-decoration: none; }

.card-macho {
  background-color: #242424;
  border: none;
  padding: 5px 15px; }

.sidebar-menu-card {
  background-color: #242424;
  border: none;
  padding: 5px 15px; }

.pagination.pagination-macho {
  background-color: transparent; }
  .pagination.pagination-macho .page-item .page-link {
    background-color: transparent;
    border-color: #7b08bc;
    color: white; }
    .pagination.pagination-macho .page-item .page-link:hover, .pagination.pagination-macho .page-item .page-link:focus {
      background-color: #ffde00; }
  .pagination.pagination-macho .page-item.active .page-link {
    background-color: #7b08bc;
    border-color: #7b08bc; }
  .pagination.pagination-macho .page-item.disabled .page-link:hover, .pagination.pagination-macho .page-item.disabled .page-link:focus {
    background-color: transparent; }
