<footer>
  <div class="container">
    <div class="footer-nav center-block">
      <h4 class="footer-nav-logo text-xs-center">Project Starlight</h4>
      <div class="row">
        <div class="col-xs-4">
          <p>About</p>
          <a href="/about/">About Us</a>
          <br />
          <a href="/learn/">Learn</a>
          <br />
          <a href="#">Team</a>
          <br />
          <a href="#">Contact</a>
        </div>
        <div class="col-xs-4">
          <p>Follow</p>
          <a href="#">Facebook</a>
          <br />
          <a href="#">Twitter</a>
        </div>
        <div class="col-xs-4">

        </div>
      </div>
    </div>
  </div>
</footer>
