<nav class="navbar navbar-fixed-top navbar-starlight bg-faded">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="CollapsingNavbar"></button>
    <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar">
      <a href="/" class="navbar-brand">Project Starlight</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a href="/user/login/" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/user/register/" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
          <a href="/user/logout" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Logout">
            <i class="fa fa-sign-out fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
