{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" type="image/gif" href="http://spaceweather.com/comets/lulin/03feb09/Tyler-Allred-Comet-Animation-3_1233776939.gif" />
    

    <title>
      {% block title %}Crowdsourcing Project - {% endblock %}
    </title>

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tether.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      {% include "components/_navbar.html" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
      {% include "components/_footer.html" %}
    {% endblock %}

    {% block script %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
