{% load custom_tags %}
<nav class="navbar navbar-fixed-top bg-faded navbar-starlight">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="CollapsingNavbar"></button>
    <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar">
        {% if request.user.is_authenticated %}
      <a class="navbar-brand" href="/">Crowdsourcing Project</a>
      <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <div id="nav-level-badge">
                <a href="{% url 'user:profile' request.user.username %}">{{ request.user.username }}</a>
            </div>
          </li>
          <li class="nav-item">
            <div id="nav-level-badge">
                {{ request.user.expert.level|badge:40 }}
            </div>
          </li>
          <li class="nav-item">
            <div id="nav-progress-points">
                <span class="text-starlight-purple" >{{ request.user.expert.points }}</span>
                <progress class="progress progress-starlight" value="{{ request.user.expert.current_accuracy }}" max="{{ request.user.expert.prox_accuracy_nedded  }}"></progress>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:logout' %}">
              Logout <i class="fa fa-sign-out fa-lg"></i>
            </a>
          </li>
        {% else %}
         <a class="navbar-brand" href="/">Crowdsourcing Project</a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
