{% block sidebar-left %}
<nav class="card card-starlight">
  <ul id="sidebar-menu" class="list-unstyled">
    <li class="sidebar-menu-header">
      <h6 class="sidebar-menu-header-text">Main</h6>
    </li>
    <hr class="sidebar-menu-break" />
    <li class="sidebar-menu-item">
      <a href="{% url 'user:profile' user.username %}">
        <i class="fa fa-tasks" aria-hidden="true"></i>
        Profile
      </a>
    </li>
    <li class="sidebar-menu-header">
      <h6 class="sidebar-menu-header-text">Projects</h6>
    </li>
    <hr class="sidebar-menu-break" />
    <li class="sidebar-menu-item">
      <a href="{% url 'hits:list' %}?page=1">
        <i class="fa fa-star" aria-hidden="true"></i>
        HITS
      </a>
    </li>
    <li class="sidebar-menu-header">
      <h6 class="sidebar-menu-header-text">Rankings</h6>
    </li>
    <hr class="sidebar-menu-break" />
    <li class="sidebar-menu-item">
      <a href="{% url 'user:ranking' %}?page=1&period=A">
        <i class="fa fa-sort" aria-hidden="true"></i>
        All Time
      </a>
    </li>
    <li class="sidebar-menu-header">
      <h6 class="sidebar-menu-header-text">Miscellaneous</h6>
    </li>
    <hr class="sidebar-menu-break" />
    <li class="sidebar-menu-item">
      <a href="/about/">
        <i class="fa fa-book" aria-hidden="true"></i>
        About
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
