{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
Login
{% endblock %}

{% block content %}
<main id="login">
  <div class="container">
    <div class="card auth-card center-block">
      <h2>Sign In</h2>
      <form class="form-signin center-block" method="post"
      id="login_form" autocomplete="off">
        {% csrf_token %}
        <fieldset class="form-group">
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username" value="" value="" required autofocus>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" value="" autocomplete="off" required>
        </fieldset>
        <button class="btn btn-lg btn-starlight btn-block" type="submit">Sign In</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
