{% extends "base2.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}
{{ block.super }}
Profile: {{ user.username }}
{% endblock %}

{% block main-content %}
<div class="row">
  <div class="col-xs-6">
    <div class="card card-starlight" id="profile-pic">
      <br>
      <a class="tooltip-bottom" data-tooltip="You can change your avatar in https://en.gravatar.com/">
      <img src="{{ user.email|gravatar_url:250 }}" class="img-rounded center-block" width=100% /> </a>
      <br>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="card card-starlight" id="profile-desc">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h3 id="username" data-value="{{ user.username }}">Hello 
                    <span style="color:yellow;">{{ user.username }}</span>!</h3>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ user.expert.level|badge:150 }}
          <div id="progress-points">
            <span>Points: 
              <span style="color:yellow;">{{ user.expert.points }}</span><br>
            </span>
            <span>Current accuracy: 
                <span style="color:yellow;">{{ user.expert.current_accuracy }}</span>
            </span>
            <span class="pull-xs-left">Level up with accuracy: 
                  <span style="color:yellow;">{{ user.expert.prox_accuracy_nedded}}</span>
            </span><br>
            <progress class="progress progress-starlight" value="{{ user.expert.current_accuracy }}" 
                      max="{{user.expert.prox_accuracy_nedded}}"></progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight" id="progress-projects">
      <br>
      <h2>Tasks</h2>
      <div id="progress-hits">
        <h4 class="text-starlight-muted">Harvard Chile {{progress_hits.num_voted}} votes<small  class="text-starlight-purple">
          {{ progress_hits.percent_complete|floatformat:2 }}% Complete
        </small>
        </h4>
        <progress class="progress progress-starlight" value="{{ progress_hits.num_voted }}" max="{{ progress_hits.max }}"></progress>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block right-side %}

{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/jquery.knob.min.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
