{% extends "base2.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}
{{ block.super }}
Profile: {{ user.username }}
{% endblock %}

{% block main-content %}
<div class="row">
  <div class="col-xs-6">
    <div class="card card-starlight" id="profile-pic">
      <img src="{{ user.email|gravatar_url:250 }}" class="img-rounded center-block" width=250 height=250 />
    </div>
  </div>
  <div class="col-xs-6">
    <div class="card card-starlight" id="profile-desc">
      <div class="row">
        <div class="col-xs-12">
          <h3 id="username" data-value="{{ user.username }}">{{ user.username }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ user.expert.level|badge:150 }}
          <div id="progress-points">
            <span>Points: {{ user.expert.points }}</span>
            <span class="pull-xs-right">Next: {{ user.expert.level|add:1|n_power:5 }}</span>
            <progress class="progress progress-starlight" value="{{ user.expert.points }}" max="{{ user.expert.level|add:1|n_power:5 }}"></progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight" id="progress-projects">
      <h2>Projects</h2>
      <div id="progress-hits">
        <h4 class="text-starlight-muted">HiTS<small  class="text-starlight-purple">
          {{ progress_hits.percent_complete|floatformat:2 }}% Complete
        </small>
        </h4>
        <progress class="progress progress-starlight" value="{{ progress_hits.num_voted }}" max="{{ progress_hits.max }}"></progress>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block right-side %}

{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/jquery.knob.min.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
