{% extends "base2.html" %}
{% load custom_tags %}

{% block title %}
{{ block.super }}
Ranking: Harvard Chile
{% endblock %}

{% block main-content %}
<div class="card card-starlight">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <h2 class="ranking-header-text">Ranking: Harvard Chile</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th style="color:yellow;">Username</th>
            <th style="color:yellow;">Level</th>
            <th style="color:yellow;">Points</th>
            <th style="color:yellow;">Accuracy Score</th>
          </tr>
        </thead>
        <tbody>
          {% for expert in ranking %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'user:profile' expert.user.username %}">{{ expert.user.email|gravatar:15 }} {{ expert.user.username }}
            </a></td>
            <td>{{ expert.level|badge:30 }}</td>
            <td>{{ expert.points }}</td>
            <td>{{ expert.current_accuracy }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
