{% extends "base.html" %}

{% block title %}
{{ block.super }}
Register
{% endblock %}

{% block content %}
<main id="register">
  <div class="container">
    <div class="card auth-card center-block">
      <h2>Register</h2>
      <form class="form-signup center-block" method="post">
        <fieldset class="form-group">
          <label for="inputUsername" class="sr-only">Username </label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" required autofocus>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputEmail" class="sr-only">Email Address</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputConfirm" class="sr-only">Password Confirm</label>
          <input type="password" class="form-control" id="inputConfirm" placeholder="Password Confirmation" required>
        </fieldset>
        <button class="btn btn-lg btn-starlight btn-block" type="submit">Register</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
