@import '../config/main'


#progress-hits
  h4
    line-height: 1.5
    padding-top: 15px

#edit-profile-menu
  .edit-profile
    &-item
      padding-left: 15px
    &-header
      margin-top: 20px
      &-text
        color: $gray
    &-break
      margin: 0 0 10px 0
      background-color: $gray
