{% extends 'base2.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
About
{% endblock %}

{% block main-content %}
<div class="row">
  <div class="col-xs-12">
      <br>
      <h1></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1 style="color: #ffff00;">Research group</h1>
      <p>

      The project research group is composes by the master candidate 
      	<a href="https://www.linkedin.com/in/bcsaldias/" target="_blank">Belén Saldías </a>
      and her two advisors 
      	<a href="http://kpichara.ing.puc.cl/" target="_blank">Karim Pichara </a>
      and 
      	<a href="http://iacs.seas.harvard.edu/people/pavlos-protopapas" target="_blank">Pavlos Protopapas</a>.
      </p>
      <p>

      The current investigation involves the development of experimental and computational approaches for studying how to combine bayesian inference in probabilistic graphical models and crowdsourcing in order to get the most accurate classification possible.

      </p>


      <img src="{% static 'img/group.jpg' %}" width="100%">
      (From left to right, 
      <a href="http://www.ing.uc.cl/cuerpo-docente/pieringer/" target="_blank">
      Christian Pieringer</a>
      , 
      <a href="http://iacs.seas.harvard.edu/people/pavlos-protopapas" target="_blank">
      Pavlos Protopapas 
      </a>, 
      <a href="https://www.linkedin.com/in/bcsaldias/" target="_blank">
      Belén Saldías 
      </a>and 
      <a href="http://kpichara.ing.puc.cl/" target="_blank">
      Karim Pichara</a>).
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1 style="color: #ffff00;">Context</h1>
    
    <p>The current website has been developed to get data for Belén's master thesis research. The recolected votes will be used to test our proposed bayesian approach for crowdsourcing with different strategies of questions.</p>

      <h5 style="color: #ffff00;">Classification</h5>
      <p>
        In machine learning and statistics, classification is the problem of identifying to which of a set of categories (sub-populations) a new observation belongs.
      </p>
      <p>
        An example would be assigning a given email into "spam" or "non-spam" classes or assigning a diagnosis to a given patient as described by observed characteristics of the patient (gender, blood pressure, presence or absence of certain symptoms, etc.).
      </p>
      <h5 style="color: #ffff00;">Types of questions</h5>
          <p>Let say there exist 3 classes: cat, dog and raccoon. Then the main goal is to classify all the images that each user will be presented. In order to get labels to cassify, each user will be presented randomly with 2 type of questions:</p>
          <ul>
          <li><span style="color: #ffff00;">Yes or No questions: </span>
              for each object each user will response one, two or three of these questions:</li>
          </ul>
          <p style="padding-left: 60px;">Is this a <span style="color: #ffff00;">cat</span>? yes or no<br />Is this a <span style="color: #ffff00;">dog</span>? yes or no<br />Is this a <span style="color: #ffff00;">raccoon</span>? yes or no</p>
          <ul>
          <li><span style="color: #ffff00;">A or B or C questions: </span>
              for some objects (at max 10% of the questions) each user will response this question:</li>
          </ul>
          <p style="padding-left: 60px;">What is the <span style="color: #ffff00;">class</span> of this object? cat or dog or racoon</p>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1 style="color: #ffff00;">Research objectives</h1>
      <p>
		
		<p>Classification tasks present many difficulties such as: small training sets, high cost of building a training set, and it is likely they can't even represent all the domains and areas where the true classes live. One of the main challenges is the situation where unlabeled data is abundant, and even though there is a crowd of experts, manually labeling is expensive. The researched method proposes a possible cheaper way to asking by keeping accuracy metrics.</p>
		<p><span style="color: #ffff00;">Goal</span>: Find the correct class of a given object. We select a subset of the classified objects to be labeled again by a crowd of experts. Since each expert fails differently and its expertise is assumed independent to the crowd, each expert has its own credibility, and error (confusion) matrix.</p>
		<p><span style="color: #ffff00;">Side Goal</span>: Estimate the credibility of the user. The current astronomical data set will be used to messure performance with real votes and humans, where the classes of the stars are in different proportions. The main results (with automatic classifiers) show that is possible to ask for less information by keeping the accuracy of the common way to label data (asking for directly for the class of a given object).</p>

      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1 style="color: #ffff00;">Users</h1>
      <p>
        Each user is presented to a random series of questions. Per each aswered question the labeler is rewarded with a different amount of points depending on how accurated the user has been until the last question. The accuracy score of each labeler is updated only with certain objects (for which the research group know the ground truth) and refers to the proportion of right answers.
      </p>
      <p>
		There are eight different badges (rookie, apprentice, ace, champion, master, grand master, guru, and luminary), they depend on the labeler accuracy over the time.
      </p>
      <h5 style="color: #ffff00;">The champion</h5>
      <p>
		The champion per each contest will be whom reach more points once finished all its questions. In case of tie, the winner will be the more accurate one between the tied champions, by the end of the project.
      </p>
      <h5 style="color: #ffff00;">Deadlines</h5>
      <p>
    Catalina DB: March 15 (included), 2017. Only users with 100% of progress compete for the prize.
      </p>
    </div>
  </div>
</div>


{% endblock %}
