{% extends 'base2.html' %}

{% block title %}
{{ block.super }}
Learn
{% endblock %}

{% block main-content %}
<div class="row">
  <div class="col-xs-12">
      <br>
      <h1></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1 style="color: #ffff00;">Acknowledgment</h1>
      <p>
        The research group would like to thank:
      </p>

          <ul>
          <li><a href="http://nesssi.cacr.caltech.edu/DataRelease/"  
            target="_blank"><span style="color: #ffff00;">Drake, A.J. et al.</span></a> First Results from the Catalina Real-time Transient Survey 2009, ApJ, 696, 870 for providing us the data.</li>

          <li><a href="https://arxiv.org/abs/1405.4290"  
            target="_blank"><span style="color: #ffff00;">Drake A. J., Graham M. J., Djorgovski S. G. et al 2014 ApJS 213 9</span></a> for providing us The Catalina Surveys Periodic Variable Star Catalog.</li>

          <li><a href="https://github.com/richardskim111" target="_blank"><span style="color: #ffff00;">Richard Kim</span></a> for providing us this website <a href="https://github.com/richardskim111/project-starlight">initial source code</a> to build on it and reach the <a href="https://github.com/bcsaldias/project-starlight">current stage.</a></li>

          <li><a href="www.astrofisicamas.cl/jorge-martinez-palomera/" target="_blank"><span style="color: #ffff00;">Jorge Martinez:</span></a> for helping us with the learning section for Catalina DB task, and the different classes of stars.</li>


          </ul>
    </div>
  </div>
</div>


{% endblock %}
