{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
Home
{% endblock %}

{% block content %}
<main id="index">
    <header id="header">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-3">Project Starlight</h1>
          <p>{% lorem %}</p>
          <a href="{% url 'user:login' %}" class="btn btn-lg btn-starlight center-block get-started"  role="button">
            Get Started
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </header>
    <section id="about">
      <div class="container">
        <h1>About</h1>
        <p>{% lorem %}</p>
      </div>
    </section>
    <section id="learn" class="shaded">
      <div class="container">
        <h1>Learn</h1>
        <p>{% lorem %}</p>
      </div>
    </section>
    <section id="get-started">
      <div class="container">
        <h1>Get Started</h1>
        <p>{% lorem %}</p>
      </div>
    </section>
</main>
{% endblock %}


{% block script %}
{{ block.super }}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
