{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
Home
{% endblock %}

{% block content %}
<main id="index">
    <header id="header">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-3">Crowdsourcing Project</h1>
          <p></p>

    <p>In machine learning, classification is the problem of identifying to which of a set of categories a new observation belongs. In some cases, solving a classification problem involves to overcome the following challenges: very few training examples, generating training instances is very costly, and training sets are far for being representative of the data.</p>

    <p>In this project, we are developing a probabilistic model that generate low-cost questions that produce partial labels, increasing the size of the training set with less resources, keeping the accuracy levels of the final classifier. This project will only be feasible with your help, we need your talent as a labeler!</p>

          <a href="{% url 'user:login' %}" class="btn btn-lg btn-starlight center-block get-started"  role="button">
            Get Started
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </header>
    <section id="about">
      <div class="container">
        <h1>About</h1>
        <p></p>
        <p>
          Each user is presented to a random series of questions. Per each answered question,  the labeler is rewarded with a different amount of points depending on how accurate it has been up to the last question. The accuracy score of each labeler is updated only with certain objects (for which the research group know the ground truth).
        </p>
        <p>As labeler you will have some examples and help about how to respond accurately. So, do not worry about your previous knowledge and try your best guess!</p>
        <p>To learn more about how to be prepared go to: <a href="/learn/" target="_blank"  class="text-starlight-purple">Learn more.</a> </p>
      </div>
    </section>
</main>
{% endblock %}


{% block script %}
{{ block.super }}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
