{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
MACHOObject: {{ macho_id }}
{% endblock %}

{% block main-content %}

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1>Is this a X?</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <div id="plot-main">MAIN PLOT?</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <div id="plot-fold">FOLDED LIGHTCURVE</div>
          
          <img src='{{hits.folded_image}}'> 

    </div>
  </div>
</div>
{% endblock %}

{% block right-side %}
<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight" id="hits-profile">
        <br>
      <ul class="list-unstyled">

      

        <li class="hits-profile-item" hidden="True">hits_id: <br />
          <span id="hits_id" class="hits-profile-data" 
                data-value="{{ hits.macho_id }}">{{ hits.macho_id }}
          </span>
        </li>

        <li class="hits-profile-item">PeriodLS: <br />
          <span id="PeriodLS" class="hits-profile-data" 
                data-value="{{ hits.PeriodLS }}">{{ hits.PeriodLS }}
          </span>
        </li>

        <li class="hits-profile-item">Amplitude: <br />
          <span id="Amplitude" class="hits-profile-data" 
                data-value="{{ hits.Amplitude }}">{{ hits.Amplitude }}
          </span>
        </li>

        <li class="hits-profile-item">CAR_mean: <br />
          <span id="CAR_mean" class="hits-profile-data" 
                data-value="{{ hits.CAR_mean }}">{{ hits.CAR_mean }}
          </span>
        </li>

        <li class="hits-profile-item">Color: <br />
          <span id="Color" class="hits-profile-data" 
                data-value="{{ hits.Color }}">{{ hits.Color }}
          </span>
        </li>

        <li class="hits-profile-item">MaxSlope: <br />
          <span id="macho_id" class="hits-profile-data" 
                data-value="{{ hits.macho_id }}">{{ hits.MaxSlope }}
          </span>
        </li>

        <li class="hits-profile-item">Mean: <br />
          <span id="macho_id" class="hits-profile-data" 
                data-value="{{ hits.macho_id }}">{{ hits.Mean }}
          </span>
        </li>

        </li>
      </ul>

      <!-- {% if saved %}
        <button id="save" type="button" class="btn btn-starlight" value="true"><i class="fa fa-check" aria-hidden="true"></i> Saved</button>
      {% else %}
        <button id="save" type="button" class="btn btn-starlight" value="false"><i class="fa fa-bookmark" aria-hidden="true"></i> Save</button>
      {% endif %} -->
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class='col-xs-12'>
    <div class="card card-starlight">
        <img src="/static/img/stars/Blind15A_04_N1_g_1366_0146_animation.gif" class="center-block" width=120/>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight" id="vote-card">
      <form>
        <!--  {% csrf_token %} -->
        <div class="form-group">
          <label for="select-star">Is this a X?</label>
        </div>
        <button type="button" class="btn btn-starlight pull-right" id="yes_button" >YES <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-starlight pull-right" id="no_button" >NO <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></button>
        <h1 id="point" hidden></h1>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/hits-detail.js' %}"></script>
{% endblock %}
