{% extends 'base2.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
Learn: HiTS
{% endblock %}

{% block main-content %}

<div class="row">
      <br>
      <br>
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1 style="color: #ffff00;">Type of stars</h1>
      <p style="text-align: right;">
        <a href="http://nesssi.cacr.caltech.edu/DataRelease/"  
            target="_blank" class="text-starlight-purple">Go to the surveys data</a>
      </p>
      You can learn much more details than in the next sections from the The Catalina Surveys Periodic Variable Star Catalog:
      <p style="text-align: right;">
              <a href="https://arxiv.org/abs/1405.4290"  
            target="_blank" class="text-starlight-purple">
            Go to the Catalogs paper</a></p>
              </p>
      <p>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">Cepheid-II (CEPH)</h3>
        <p>Type II Cepheids are metal-poor Cepheids that are found in galaxy halos. They are divided into three sub-classes that separated by increasing period and luminosity as defined by Wallerstein (2002).</p>
        <p>These sub-classes are BL Herculis variables (BL Her), with <span style="color: #cc99ff;">periods</span> between <span style="color: #cc99ff;">1 and 5 days</span>, W Virginis variables (W Vir) with <span style="color: #cc99ff;">periods</span> of<span style="color: #cc99ff;"> 5 to 20 days</span>, and RV Tauri variables (RV Tau) with <span style="color: #cc99ff;">periods</span> greater than <span style="color: #cc99ff;">20 days</span>. </p>
        
        <p style="color: #ffff00;">BL Her</p>
        <p>BL Her-type Cepheids usually show a bump on the descending side of their light curves at short periods. This bump is seen on the ascending side at longer periods (Soszynski et al. 2008). BL Her&rsquo;s have similar spectral types to RR Lyrae, but are slightly brighter.</p>
        

        <p style="color: #ffff00;">W Vir and RV Tau Cepheids</p>
        <p>W Virginis is the prototype for the population II Cepheids and has a period of 17 days. Stars in the W Vir sub-type have periods longer than 5 days and do not exhibit the bumps of BL Her stars. In contrast, RV Tau stars exhibit a secondary dip with distinctive alternating deep and shallow minima and periods longer than 20 days (Wallerstein 2002). </p>
      
      <p></p>
      <p></p>
      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="cep0"><img src="{% static 'img/examples/CEP_256.png' %}" width=150 class="img-thumbnail" next="#cep1" previous="#cep4"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="cep1"><img src="{% static 'img/examples/CEP_65.png' %}" width=150 class="img-thumbnail" next="#cep2" previous="#cep0"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="cep2"><img src="{% static 'img/examples/CEP_277.png' %}" width=150 class="img-thumbnail" next="#cep3" previous="#cep1"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="cep3"><img src="{% static 'img/examples/CEP_804.png' %}" width=150 class="img-thumbnail" next="#cep4" previous="#cep2"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="cep4"><img src="{% static 'img/examples/CEP_146.png' %}" width=150 class="img-thumbnail" next="#cep0" previous="#cep3"/></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">Eclipsing Binary (EB)</h3>
      <p>
        Eclipsing binaries include contact, semi-detached and detached systems. For this application, we use only the contact binaries.
      </p>

        <p style="color: #ffff00;">Contact binaries EW’s. </p>
        <p>Since these systems are in contact mass flows from one star to the other and both stars usually have similar temperatures and types. Slight differences in the eclipse depth are still possible and reflect remnant differences in the temperature of the component stars. In general contact binaries have previously been found to have a minimum <span style="color: #cc99ff;">period</span> near <span style="color: #cc99ff;">0.22 days</span> (Rucin-ski et al. 1992, 1997).</p>


      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="eb0"><img src="{% static 'img/examples/EB_626.png' %}" width=150 class="img-thumbnail" next="#eb1" previous="#eb4"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="eb1"><img src="{% static 'img/examples/EB_757.png' %}" width=150 class="img-thumbnail" next="#eb2" previous="#eb0"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="eb2"><img src="{% static 'img/examples/EB_687.png' %}" width=150 class="img-thumbnail" next="#eb3" previous="#eb1"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="eb3"><img src="{% static 'img/examples/EB_398.png' %}" width=150 class="img-thumbnail" next="#eb4" previous="#eb2"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="eb4"><img src="{% static 'img/examples/EB_580.png' %}" width=150 class="img-thumbnail" next="#eb0" previous="#eb3"/></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">Long-period variable (LPV)</h3>
      
      <p>LPVs are cool pulsating giant stars with <span style="color: #cc99ff;">periods</span> ranging from a <span style="color: #cc99ff;">few to 1,000 days</span>. The amplitude of variation changes slightly between cycles so the scatter in the phased lightcurve is greater than the actual photometric uncertainty. However, the brightest LPVs are saturated in Catalina data.</p>
      <p>
      </p>
      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="lpv0"><img src="{% static 'img/examples/LPV_348.png' %}" width=150 class="img-thumbnail" next="#lpv1" previous="#lpv4"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="lpv1"><img src="{% static 'img/examples/LPV_177.png' %}" width=150 class="img-thumbnail" next="#lpv2" previous="#lpv0"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="lpv2"><img src="{% static 'img/examples/LPV_268.png' %}" width=150 class="img-thumbnail" next="#lpv3" previous="#lpv1"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="lpv3"><img src="{% static 'img/examples/LPV_100.png' %}" width=150 class="img-thumbnail" next="#lpv4" previous="#lpv2"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="lpv4"><img src="{% static 'img/examples/LPV_281.png' %}" width=150 class="img-thumbnail" next="#lpv0" previous="#lpv3"/></a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">RR Lyrae (RRLYR)</h3>
      <p>
RR Lyrae stars are pulsational variables that can be used as standard candles (Catelan 2009, and references therein). 

      </p>
      <p>

These are <span style="color: #cc99ff;">short-period (.05 to 1.2 days)</span>, pulsating, white giant stars, usually of spectral class A. They are older and less massive than Cepheids. The amplitude of variation of RR Lyrae stars is generally from <span style="color: #cc99ff;">0.3 to 2 magnitudes</span>. The average absolute magnitude of an RR Lyrae is about 0.75, only 40 or 50 times brighter than our Sun.

      </p>
      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="rrl0"><img src="{% static 'img/examples/RRLYR_695.png' %}" width=150 class="img-thumbnail" next="#rrl1" previous="#rrl4"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="rrl1"><img src="{% static 'img/examples/RRLYR_810.png' %}" width=150 class="img-thumbnail" next="#rrl2" previous="#rrl0"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="rrl2"><img src="{% static 'img/examples/RRLYR_784.png' %}" width=150 class="img-thumbnail" next="#rrl3" previous="#rrl1"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="rrl3"><img src="{% static 'img/examples/RRLYR_617.png' %}" width=150 class="img-thumbnail" next="#rrl4" previous="#rrl2"/></a>
      <a href="#" data-toggle="modal" data-target="#image-modal" id="rrl4"><img src="{% static 'img/examples/RRLYR_794.png' %}" width=150 class="img-thumbnail" next="#rrl0" previous="#rrl3"/></a>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" class="img-fluid"/>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/hits-learn.js' %}"></script>
{% endblock %}
