{% extends 'base2.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
Learn: HiTS
{% endblock %}

{% block main-content %}

<div class="row">
      <br>
      <br>
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h1 style="color: #ffff00;">Type of stars</h1>
      <p style="text-align: right;">
        <a href="http://nesssi.cacr.caltech.edu/DataRelease/"  
            target="_blank" class="text-starlight-purple">Go to the surveys data</a>
      </p>
      You can learn much more details than in the next sections from the The Catalina Surveys Periodic Variable Star Catalog:
      <p style="text-align: right;">
              <a href="https://arxiv.org/abs/1405.4290"  
            target="_blank" class="text-starlight-purple">
            Go to the Catalogs paper</a></p>
              </p>
      <p>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">Cepheid-II (Cepheid)</h3>
        <p>Type II Cepheids are metal-poor Cepheids that are found in galaxy halos. They are divided into three sub-classes that separated by increasing period and luminosity as defined by Wallerstein (2002).</p>
        <p>These sub-classes are BL Herculis variables (BL Her), with <span style="color: #cc99ff;">periods</span> between <span style="color: #cc99ff;">1 and 5 days</span>, W Virginis variables (W Vir) with <span style="color: #cc99ff;">periods</span> of<span style="color: #cc99ff;"> 5 to 20 days</span>, and RV Tauri variables (RV Tau) with <span style="color: #cc99ff;">periods</span> greater than <span style="color: #cc99ff;">20 days</span>. </p>
        
        <p style="color: #ffff00;">BL Her</p>
        <p>BL Her-type Cepheids usually show a bump on the descending side of their light curves at short periods. This bump is seen on the ascending side at longer periods (Soszynski et al. 2008). BL Her&rsquo;s have similar spectral types to RR Lyrae, but are slightly brighter.</p>
        

        <p style="color: #ffff00;">W Vir and RV Tau Cepheids</p>
        <p>W Virginis is the prototype for the population II Cepheids and has a period of 17 days. Stars in the W Vir sub-type have periods longer than 5 days and do not exhibit the bumps of BL Her stars. In contrast, RV Tau stars exhibit a secondary dip with distinctive alternating deep and shallow minima and periods longer than 20 days (Wallerstein 2002). </p>
      
      <p></p>
      <p></p>
      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/CEP_65.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/CEP_86.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/CEP_169.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/CEP_442.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/CEP_633.png' %}" width=150 class="img-thumbnail" /></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">Eclipsing Post Common Envelope Binary (Eclipsing Binary)</h3>
      <p>
Compact binaries can often exhibit orbital <span style="color: #cc99ff;">periods</span> below <span style="color: #cc99ff;">0.2 days</span>. Such binaries include systems with white dwarfs (WDs) and subdwarfs (mainly sdB’s and sdO’s). Post-common-envelope binaries (PCEBs) include WDdM systems and are related to interacting close binaries such as CVs. These systems can aid our understanding of the complex common envelope evolutionary phase in binary systems. Subdwarf binaries (HW Vir stars) may also form through a common envelope phase.  Not all such system have to be eclipsing to be detected as binaries.
      </p>

      <p>

In these light curves the modulation is due to the distortion of the secondary star. The bottom light curve shows an example where the hot WD primary is eclipsed by the distorted companion. The other lightcurves do do exhibit eclipses. Similar light curves are observed for gamma-ray pulsars such as PSR J2339-0533 (Romani et al. 2011) and AY Sex (Wang et al. 2009; Tam et al. 2010). Approximately 100 compact binaries were found in this work of which approximately half are new discoveries. Hence, this work constitutes a significant addition. However, further work is required to identify the component stars in each system.

      </p>

      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/EB_66.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/EB_181.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/EB_241.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/EB_324.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/EB_328.png' %}" width=150 class="img-thumbnail" /></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">Long-period variable (LPV)</h3>
      
      <p>Long-Period Variables<br /><br />LPVs are cool pulsating giant stars with <span style="color: #cc99ff;">periods</span> ranging from a <span style="color: #cc99ff;">few to 1,000 days</span>. The amplitude of variation changes slightly between cycles so the the scatter in the phased lightcurve is greater than the actual photometric uncertainty. However, the brightest LPVs are saturated in catalina data.</p>
      <p>
      </p>
      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/LPV_89.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/LPV_177.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/LPV_281.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/LPV_581.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/LPV_607.png' %}" width=150 class="img-thumbnail" /></a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="card card-starlight">
      <br>
      <h3 style="color: #ffff00;">RR Lyrae (RRLYR)</h3>
      <p>
RR Lyrae stars are pulsational variables that can be used as standard candles (Catelan 2009, and references therein). In Drake et al. (2013a,b) we used CSS data to find RR Lyrae in the halo and thus determine the distance and location to the Sagittarius tidal stream. 

      </p>
      <p>

These are <span style="color: #cc99ff;">short-period (.05 to 1.2 days)</span>, pulsating, white giant stars, usually of spectral class A. They are older and less massive than Cepheids. The amplitude of variation of RR Lyrae stars is generally from <span style="color: #cc99ff;">0.3 to 2 magnitudes</span>Z.The average absolute magnitude of an RR Lyrae is about 0.75, only 40 or 50 times brighter than our Sun.

      </p>
      <p style="color: #ffff00;">Examples</p>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/RRLYR_617.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/RRLYR_695.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/RRLYR_784.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/RRLYR_794.png' %}" width=150 class="img-thumbnail" /></a>
      <a href="#" data-toggle="modal" data-target="#image-modal"><img src="{% static 'img/examples/RRLYR_810.png' %}" width=150 class="img-thumbnail" /></a>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" class="img-fluid"/>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/hits-learn.js' %}"></script>
{% endblock %}
